# проект учебный, тут секреты

# Application
APP_NAME=TeamFinder
APP_ENV=development
APP_DEBUG=True
APP_HOST=localhost
APP_PORT=8000

# Security
S_ALGORITHM=HS256
S_SECRET_KEY=super-secret-key
S_ACCESS_TOKEN_EXPIRES_MINUTES=30
S_REFRESH_TOKEN_EXPIRES_DAYS=30


# Auth
# пока не придумал

# Database
DB_DRIVER=postgresql+asyncpg
DB_HOST=localhost
DB_PORT=5432
DB_NAME=team_finder
DB_USER=postgres
DB_PASSWORD=postgres # Просто тестовый пароль

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
